[submodule "libs/DCSFPCommon"]
	path = libs/DCSFPCommon
	url = https://github.com/DCS-Skunkworks/DCSFPCommon
[submodule "libs/WwDevicesDotnet"]
	path = libs/WwDevicesDotnet
	url = https://github.com/landre-cerp/WwDevicesDotnet.git